div.blog {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  padding: 5px 10px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 6px 0 8px 12px;
    letter-spacing: -0.02em;
  }
  h1 {
    font-size: 34px;
    font-weight: 650;
    line-height: 40px;
  }
  h2 {
    font-size: 28px;
    font-weight: 600;
  }
  h3 {
    font-size: 22px;
    font-weight: 550;
  }
  hr {
    color: #eee;
  }
  p {
    font-size: 18px;
    letter-spacing: 0px;
    text-indent: 1.6em;
  }
  a {
    color: blue;
    &:hover {
      color: green;
    }
  }
  ul {
    list-style: circle;
    margin-left: 1.6em;
  }
  div {
    /* margin-left: 1em; */
    font-size: 16px;
  }
  div.reference {
    background-color: #eee;
    display: inline-block;
    padding: 0.6em 3em 0.6em 0.5em;
    margin-bottom: 1em;
    border-radius: 10px;
  }
  code {
    color: deeppink;
  }
}
