div.blog {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  padding: 5px 10px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-left: 0.6em;
    letter-spacing: -0.02em;
  }
  h1 {
    font-size: 34px;
    font-weight: 600;
    line-height: 40px;
  }
  h2 {
    font-size: 28px;
    font-weight: 500;
  }
  h3 {
    font-size: 22px;
    font-weight: 400;
  }
  hr {
    color: #eee;
  }
  p {
    font-size: 18px;
    letter-spacing: 1px;
    text-indent: 2em;
  }
}
